body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  background-image: linear-gradient(
    130deg,
    #ffd6ff,
    #e7c6ff,
    #c8b6ff,
    #b8c0ff,
    #bbd0ff
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: auto;
  max-height: auto;
  /* color: white; */
}
/* navbar styling */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
}
#navbar-right {
  display: flex;
  flex-direction: row;
  padding: 12px 18px;
  gap: 30px;
}
#navbar-right a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
#navbar-right a:hover {
  color: #0c011f;
}

/* fetch element styling */
.heading {
  text-align: center;
  color: rgb(183, 177, 218);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 25px;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 223px);
  }
}
@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 223px);
  }
}
.items {
  border: 2px solid #504183;
  padding: 5px 10px;
  height: 300px;
  word-break: break-all;
  border-radius: 4px;
}

/* footer styling */
.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  line-height: 0.7;
  background-color: #bbd0ff;
}
#copyright {
  font-size: 1.2rem;
}

/* Log in styling */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 20px;
  gap: 20px;
}
.login {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 60%;
  /* padding-left : 2rem;
    border: 1px solid red; */
}
input {
  width: 80%;
  padding: 0.8rem;
  margin: auto;
  border: none;
  border-radius: 0.3rem;
  background-color: none;
}
input:focus {
  border: none;
  outline: none;
}
.btn {
  width: 39%;
  margin: auto;
  padding: 0.9rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
.btn-log {
  background-color: #504183;
  color: white;
}
.btn-log:hover {
  background-color: #786aa7;
}
.btn-back a {
  color: #504183;
  text-decoration: none;
}
.btn-back:hover {
  border: 1px solid #786aa7;
}
#user {
  margin: 0.2rem auto 0;
}
@media (max-width: 900px) {
  .login {
    width: 80%;
    gap: 3px;
  }
  .btn {
    width: 50%;
    margin-top: 0.1rem;
  }
}

.error {
  margin: auto;
  width: 80%;
  font-size: 0.8rem;
}
.errorSubmit {
  text-align: center;
  width: 70%;
  font-size: 0.8rem;
}
.nav-container {
  margin: 5rem 10rem;
  line-height: 1.6;
  font-size: 1rem;
  border: 2px solid red;
}
.nav-container > h2 {
  text-align: center;
  font-size: 2rem;
  border: 2px solid red;
}
@media screen and (max-width: 900px) {
  .nav-container {
    margin: 0.5rem 2rem;
  }
}
